/*******************Responsive*****************/
@media ( min-width : 768px) {
	.app.container {
		width: 750px;
		-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	}
	.app.container .app-aside {
		overflow-x: hidden;
	}
	.app.container.app-aside-folded .app-aside {
		overflow-x: visible;
	}
	.app.container.app-aside-fixed .aside-wrap {
		left: inherit;
	}
	.app.container.app-aside-fixed.app-aside-folded .app-aside>ul.nav {
		position: absolute;
	}
	.app.container .app-header, .app.container .app-aside {
		max-width: 750px;
	}
	.app.container .app-footer-fixed {
		right: auto;
		left: auto;
		width: 100%;
		max-width: 550px;
	}
	.app.container.app-aside-folded .app-footer-fixed {
		max-width: 690px;
	}
	.app.container.app-aside-dock .app-footer-fixed {
		max-width: 750px;
	}
}

@media ( min-width : 992px) {
	.app.container {
		width: 970px;
	}
	.app.container .app-header, .app.container .app-aside {
		max-width: 970px;
	}
	.app.container .app-footer-fixed {
		max-width: 770px;
	}
	.app.container.app-aside-folded .app-footer-fixed {
		max-width: 910px;
	}
	.app.container.app-aside-dock .app-footer-fixed {
		max-width: 970px;
	}
}

@media ( min-width : 1200px) {
	.app.container {
		width: 1170px;
	}
	.app.container .app-header, .app.container .app-aside {
		max-width: 1170px;
	}
	.app.container .app-footer-fixed {
		max-width: 970px;
	}
	.app.container.app-aside-folded .app-footer-fixed {
		max-width: 1110px;
	}
	.app.container.app-aside-dock .app-footer-fixed {
		max-width: 1170px;
	}
}

@media ( min-width : 768px) {
	.app-aside, .navbar-header {
		width: 200px;
		height: 100%
	}
	.navbar-collapse, .app-content, .app-footer {
		margin-left: 200px;
	}
	.app-aside-right {
		position: absolute;
		top: 50px;
		right: 0;
		bottom: 0;
		z-index: 1000;
	}
	.app-aside-right.pos-fix {
		z-index: 1010;
	}
	.visible-folded {
		display: none;
	}
	.app-aside-folded .hidden-folded {
		display: none !important;
	}
	.app-aside-folded .visible-folded {
		display: inherit;
	}
	.app-aside-folded .text-center-folded {
		text-align: center;
	}
	.app-aside-folded .pull-none-folded {
		float: none !important;
	}
	.app-aside-folded .w-auto-folded {
		width: auto;
	}
	/* .app-aside-folded .app-aside,
  .app-aside-folded .navbar-header {
    width: 60px;
  } */
	.app-aside-folded .app-aside {
		width: 0px;
	}
	.app-aside-folded .app-content, .app-aside-folded .app-footer {
		margin-left: 0px;
	}
	.app-aside-folded .app-header .navbar-brand {
		display: block;
	}
	.app-aside-fixed .app-header .navbar-header {
		position: fixed;
	}
	.app-aside-fixed .aside-wrap {
		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		width: 200px;
		overflow: hidden;
	}
	.app-aside-fixed .aside-wrap .navi-wrap {
		position: relative;
		width: 217px;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.app-aside-fixed .aside-wrap .navi-wrap::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.app-aside-fixed .aside-wrap .navi-wrap::-webkit-scrollbar:vertical {
		width: 17px;
	}
	.smart .app-aside-fixed .aside-wrap .navi-wrap {
		width: 200px;
	}
	.app-aside-fixed.app-aside-folded .app-aside {
		position: fixed;
		top: 50px;
		bottom: 0;
		z-index: 1010;
	}
	.app-aside-fixed.app-aside-folded .aside-wrap {
		width: 0px;
	}
	.app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap {
		width: 0px;
	}
	.smart .app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap {
		width: 0px;
	}
	.bg-auto:before {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: -1;
		width: inherit;
		background-color: inherit;
		border: inherit;
		content: "";
	}
	.bg-auto.b-l:before {
		margin-left: -1px;
	}
	.bg-auto.b-r:before {
		margin-right: -1px;
	}
	.col.show {
		display: table-cell !important;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.hbox-auto-sm {
		display: block;
	}
	.hbox-auto-sm>.col {
		display: block;
		width: auto;
		height: auto;
	}
	.hbox-auto-sm>.col.show {
		display: block !important;
	}
}

@media ( max-width : 767px) {
	.app-aside {
		float: none;
	}
	.app-content-full {
		width: 100% !important;
	}
	.hbox-auto-xs {
		display: block;
	}
	.hbox-auto-xs>.col {
		display: block;
		width: auto;
		height: auto;
	}
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar-nav>li>a {
		box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	}
	.navbar-nav>li>a .up {
		top: 0;
	}
	.navbar-nav>li>a .avatar {
		width: 30px;
		margin-top: -5px;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #fff;
	}
	.navbar-form {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
	}
	.navbar-form .form-group {
		margin-bottom: 0;
	}
}

@media ( min-width : 768px) {
	.app-aside-folded .nav-sub-header {
		display: block !important;
	}
	.app-aside-folded .nav-sub-header a {
		padding: 15px 20px !important;
	}
	.app-aside-folded .navi>ul>li>a {
		position: relative;
		height: 50px;
		padding: 0;
		text-align: center;
		border: none;
	}
	.app-aside-folded .navi>ul>li>a span {
		display: none;
	}
	.app-aside-folded .navi>ul>li>a span.pull-right {
		display: none !important;
	}
	.app-aside-folded .navi>ul>li>a i {
		display: block;
		float: none;
		width: auto;
		margin: 0;
		font-size: 16px;
		line-height: 50px;
		border: none !important;
	}
	.app-aside-folded .navi>ul>li>a i b {
		left: 0 !important;
	}
	.app-aside-folded .navi>ul>li>a .badge, .app-aside-folded .navi>ul>li>a .label
		{
		position: absolute;
		top: 8px;
		right: 12px;
		z-index: 3;
	}
	.app-aside-folded .navi>ul ul {
		position: absolute;
		top: 0 !important;
		left: 100%;
		z-index: 1050;
		width: 200px;
		height: 0 !important;
		-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	}
	.app-aside-folded .navi li li a {
		padding-left: 20px !important;
	}
	.app-aside-folded.app-aside-fixed .app-aside>ul.nav {
		position: fixed;
		left: 80px;
		z-index: 1010;
		display: block;
		width: 260px;
		height: auto;
		overflow: visible;
		overflow-y: auto;
		opacity: 1;
		-webkit-overflow-scrolling: touch;
	}
	.app-aside-folded.app-aside-fixed .app-aside>ul.nav:before {
		position: absolute;
		top: 0;
		left: -60px;
		width: 60px;
		height: 50px;
		content: "";
	}
	.app-aside-folded.app-aside-fixed .app-aside>ul.nav a {
		padding-right: 20px !important;
		padding-left: 20px !important;
	}
}

@media ( max-width : 767px) {
	.app {
		overflow-x: hidden;
	}
	.app-content {
		-webkit-transition: -webkit-transform 0.2s ease;
		-moz-transition: -moz-transform 0.2s ease;
		-o-transition: -o-transform 0.2s ease;
		transition: transform 0.2s ease;
	}
	.off-screen {
		position: absolute;
		top: 50px;
		bottom: 0;
		z-index: 1010;
		display: block !important;
		width: 75%;
		overflow-x: hidden;
		overflow-y: auto;
		visibility: visible;
		-webkit-overflow-scrolling: touch;
	}
	.off-screen+* {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1015;
		width: 100%;
		padding-top: 50px;
		overflow: hidden;
		background-color: #f0f3f4;
		-webkit-transform: translate3d(75%, 0, 0px);
		transform: translate3d(75%, 0, 0px);
		-webkit-transition: -webkit-transform 0.2s ease;
		-moz-transition: -moz-transform 0.2s ease;
		-o-transition: -o-transform 0.2s ease;
		transition: transform 0.2s ease;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.off-screen+* .off-screen-toggle {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1020;
		display: block !important;
	}
	.off-screen.pull-right {
		right: 0;
	}
	.off-screen.pull-right+* {
		-webkit-transform: translate3d(-75%, 0, 0px);
		transform: translate3d(-75%, 0, 0px);
	}
}

@media ( min-width : 992px) {
	.app-aside-dock .app-content, .app-aside-dock .app-footer {
		margin-left: 0;
	}
	.app-aside-dock .app-aside-footer ~ div {
		padding-bottom: 0;
	}
	.app-aside-dock.app-aside-fixed.app-header-fixed {
		padding-top: 115px;
	}
	.app-aside-dock.app-aside-fixed .app-aside {
		position: fixed;
		top: 50px;
		z-index: 1000;
		width: 100%;
	}
	.app-aside-dock .app-aside, .app-aside-dock .aside-wrap, .app-aside-dock .navi-wrap
		{
		position: relative;
		top: 0;
		float: none;
		width: 100% !important;
		overflow: visible !important;
	}
	.app-aside-dock .app-aside {
		bottom: auto !important;
	}
	.app-aside-dock .app-aside.b-r {
		border-bottom: 1px solid #dee5e7;
		border-right-width: 0;
	}
	.app-aside-dock .app-aside:before {
		display: none;
	}
	.app-aside-dock .app-aside nav>.nav {
		float: left;
	}
	.app-aside-dock .app-aside .hidden-folded, .app-aside-dock .app-aside .line,
		.app-aside-dock .app-aside .navi-wrap>div {
		display: none !important;
	}
	.app-aside-dock .app-aside .navi>ul>li {
		position: relative;
		display: inline-block;
		float: left;
	}
	.app-aside-dock .app-aside .navi>ul>li>a {
		height: auto;
		padding: 10px 15px 12px 15px;
		text-align: center;
	}
	.app-aside-dock .app-aside .navi>ul>li>a>.badge, .app-aside-dock .app-aside .navi>ul>li>a>.label
		{
		position: absolute;
		top: 5px;
		right: 8px;
		padding: 1px 4px;
	}
	.app-aside-dock .app-aside .navi>ul>li>a>i {
		display: block;
		float: none;
		width: 40px;
		margin-top: -10px;
		margin-right: auto;
		margin-bottom: -7px;
		margin-left: auto;
		font-size: 14px;
		line-height: 40px;
	}
	.app-aside-dock .app-aside .navi>ul>li>a>span.pull-right {
		position: absolute;
		bottom: 2px;
		left: 50%;
		display: block !important;
		margin-left: -6px;
		line-height: 1;
	}
	.app-aside-dock .app-aside .navi>ul>li>a>span.pull-right i {
		width: 12px;
		font-size: 12px;
		line-height: 12px;
	}
	.app-aside-dock .app-aside .navi>ul>li>a>span.pull-right i.text {
		line-height: 14px;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.app-aside-dock .app-aside .navi>ul>li>a>span {
		display: block;
		font-weight: normal;
	}
	.app-aside-dock .app-aside .navi>ul>li .nav-sub {
		position: absolute;
		top: auto !important;
		left: 0;
		z-index: 1050;
		display: none;
		width: 200px;
		height: auto !important;
		-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	}
	.app-aside-dock .app-aside .navi>ul>li .nav-sub-header {
		display: none !important;
	}
	.app-aside-dock .app-aside .navi li li a {
		padding-left: 15px;
	}
	.app-aside-dock .app-aside .navi li:hover .nav-sub, .app-aside-dock .app-aside .navi li:focus .nav-sub,
		.app-aside-dock .app-aside .navi li:active .nav-sub {
		display: block;
		height: auto !important;
		margin-left: 0;
		overflow: auto;
		opacity: 1;
	}
}

/*desktop*/
@media screen and (min-width: 992px) {
	.col-lg-2-4 {
		float: left;
		width: 20.000%;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.hidden-sm.show {
		display: inherit !important;
	}
}

/*phone*/
@media ( max-width : 767px) {
	.w-auto-xs {
		width: auto;
	}
	.shift {
		display: none !important;
	}
	.shift.in {
		display: block !important;
	}
	.row-2 [class*="col"] {
		float: left;
		width: 50%;
	}
	.row-2 .col-0 {
		clear: none;
	}
	.row-2 li:nth-child(odd) {
		margin-left: 0;
		clear: left;
	}
	.text-center-xs {
		text-align: center;
	}
	.text-left-xs {
		text-align: left;
	}
	.text-right-xs {
		text-align: right;
	}
	.no-border-xs {
		border-width: 0;
	}
	.pull-none-xs {
		float: none !important;
	}
	.pull-right-xs {
		float: right !important;
	}
	.pull-left-xs {
		float: left !important;
	}
	.dropdown-menu.pull-none-xs {
		left: 0;
	}
	.hidden-xs.show {
		display: inherit !important;
	}
	.wrapper-lg, .wrapper-md {
		padding: 15px;
	}
	.padder-lg, .padder-md {
		padding-right: 15px;
		padding-left: 15px;
	}
}