/* Styles go here */
body{
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  font-size: 14px;
}
.header {
  font-size: 20px;
  font-weight: 600;
  padding-top: 0;
  margin-bottom: 10px;
}
b{
  font-weight: normal;
  margin-bottom: 10px;
}
pre{
  background: rgb(239, 239, 239);
  font-size: 10px;
}
.ng-invalid{
  border-color: red;
}

/**
 * Email Contacts
 */
.selectize-control.contacts .selectize-input [data-value] .email {
	opacity: 0.5;
}
.selectize-control.contacts .selectize-input [data-value] .name + .email {
	margin-left: 5px;
}
.selectize-control.contacts .selectize-input [data-value] .email:before {
	content: '<';
}
.selectize-control.contacts .selectize-input [data-value] .email:after {
	content: '>';
}
.selectize-control.contacts .selectize-dropdown .caption {
	font-size: 12px;
	display: block;
	opacity: 0.5;
}
